@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* font styles */

.geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.michroma {
  font-family: "Michroma", sans-serif;
  font-style: normal;
}

.syne {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}


.fira {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

/* Sidebar animation */
.sidebar-enter {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sidebar-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sidebar-exit {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sidebar-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.iti {
  width: 100%;
  position: relative;
  z-index: 10;
}

/* Flag & dropdown trigger */
.iti__selected-flag {
  background-color: white;
  border-radius: 9999px;
  padding: 6px 12px;
  margin-left: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 20;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Country dropdown */
.iti__country-list {
  position: absolute !important;
  top: -220px !important;
  left: 0 !important;
  width: 250px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border-radius: 0.75rem;
  z-index: 9999;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transform-origin: top center;
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

/* Show dropdown (via JS) */
.iti__country-list.iti__country-list--show {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

/* Scrollbar */
.iti__country-list::-webkit-scrollbar {
  width: 6px;
}
.iti__country-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}